.clients {
width: auto;

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 60px;
    margin: 0px;
    
  }

  &__list {
    list-style: none;
    display: block;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 30px;
    padding: 0px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $IconColor;
    transition-property: border, fill;
    

    margin-bottom: 30px;
  }

  &__list-item:hover,
  &__list-item:focus {
    border: 1px solid $ActiveLinkColor;
    fill: $ActiveLinkColor;
    cursor: pointer;
    transition-duration: $MainTransitionDuration;
    transition-timing-function: $MainTransitionTimingFunction;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
.clients {
  &__header {padding-top: $MainSpaceSections;}
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
&__list-item {
       max-width: 224px;
       flex-basis: calc (100% - (1 * 30% / 2));
}
} 
}

@media screen and (min-width: 1200px) {
.clients {
  &__header {padding-top: $MainSpaceSections;}
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
&__list-item {
       max-width: 168px;
}
}
}