.feature {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: block;
  justify-content: center;

  &__list {
    list-style: none;
    display: block;
    gap: 30px;
    justify-content: center;
    padding: 0px 15px;
  }

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 120px;
    background: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $FeaturesTxtColor;
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-basis: calc (100% - 1 * 30% /2);
    }

    &__icon-bg {
      height: 120px;
    }

    &__description {
      width: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    width: auto;

    &__list {
      display: inline-flex;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__icon-bg {
      width: 270px;
      height: 120px;
    }

    &__description {
      width: 270px;
    }
  }
}
