
  $MainTextColor: #212121;
  $MainBgColor: #ffffff;
  $PortfolioBtnColor: #f5f4fa;
  $ActiveLinkColor: #2196f3;
  $ContactsColor: #757575;
  $CardsTxtColor: #757575;
  $CardsBgColor: #ffffff;
  $FeaturesTxtColor: #757575;
  $MainSpaceSections: 94px;
  $MobileMainSpaceSections: 60px;
  $MobileMainSpaceSections: 30px;
  $InteriorWidthContainer: 1200px;
  $MobileInteriorWidthContainer: 450px;
  $IconColor: #afb1b8;
  $MainTransitionDuration: 250ms;
  $MainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

